
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="contenedor-categorias">
  <div>
    <h2>{{ section.settings.titulo }}</h2>

    <div class="ContenedorMiniCard">
      {% for block in section.blocks %}
        <div class="ContenedorImgCirculo">
          <h3>{{ block.settings.titulo }}</h3>
          <img src="{{ block.settings.Img | img_url: '600x' }}" alt="">
        </div>
      {% endfor %}
    </div>
  </div>
    <div class="ContenedorList">
      {% for block in section.blocks %}
        <div class="ContenedorProductos">
          {% for product in block.settings.productos %}


            <div class="quick-add no-js-hidden">
              <product-form data-section-id="{{ section.id }}">
                {%- form 'product',
                  product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    class="product-variant-id"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="buttonAddCart"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    AGREGAR AL CARRITO
                    {%- render 'loading-spinner' -%}
                  </button>
                {%- endform -%}
              </product-form>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
</div>

<style>
  .contenedor-categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6rem 0rem;
    gap: 10px;
    align-items: center;
    margin-top: 90px;
    text-align: center;
    background: #DBE9E4;
  }

  .ContenedorImgCirculo{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1.5rem 1rem;
    border-radius: 20px;
  }

  .ContenedorImgCirculo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }

  .ContenedorMiniCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
  }

  .ContenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .buttonAddCart{
    padding: 1rem 6rem;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background: #889CBB;
    border: none;
  }
</style>

{% schema %}
{
  "name": "categorias-nanto",
  "class": "categorias-nanto",
  "settings": [
    {
      "type": "header",
      "content": "Textos"
    },
    {
      "type": "text",
      "id": "titulo",
      "label": "Titulo",
      "default": "¿Qué quieres cuidar?"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "Modo de adición rápida",
      "info": "Seleccione el modo de adición rápida de productos",
      "options": [
        {
          "value": "none",
          "label": "Ninguno"
        },
        {
          "value": "standard",
          "label": "Estándar"
        },
        {
          "value": "bulk",
          "label": "A granel"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Protege",
      "settings": [
        {
          "type": "image_picker",
          "id": "Img",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "titulo",
          "label": "Titulo",
          "default": "TELA"
        },
        {
          "type": "header",
          "content": "Productos"
        },
        {
          "type": "product_list",
          "id": "productos",
          "label": "Selecciona productos"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "categorias-nanto",
      "blocks": []
    }
  ]
}
{% endschema %}
