        
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="contendor-reviews">
  <div class="contenedor-reviewtext">
    <h2>{{ section.settings.titulo }}</h2>

    <p>{{ section.settings.descripcion }}</p>

    <a
      class="stylos-btn"
      href="{{ section.settings.Url }}"
      style="background:{{ section.settings.BtnBackColor }} ; color:{{ section.settings.ColorText }};"
    >
      {{- section.settings.TituloBtn -}}
    </a>
  </div>
  <div style="" class="swiper SliderReviews ">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide card-review">
          <img class="img-review" src="{{ block.settings.Img | img_url: '1000x' }}" alt="">
          <div class="contenedor-textos-review">
            <h2 style="">{{ block.settings.nombre }}</h2>
            <p>{{ block.settings.fecha }}</p>
            <img src="https://cdn.shopify.com/s/files/1/0635/0746/4328/files/Group_360.svg?v=1718422041" alt="">
            <p>{{ block.settings.descripcion }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="contenedorbtns">
            <img class="swiper-button-prev nonefec" style="30px" src="https://cdn.shopify.com/s/files/1/0635/0746/4328/files/btn-rigth.svg?v=1718421054" alt="">
            <img  class="swiper-button-next" style="30px" src="https://cdn.shopify.com/s/files/1/0635/0746/4328/files/btn-left.svg?v=1718421035" alt="">
      </div>
  </div>
</div>

<style>

    .reviews-nanto{
        background: white;

        margin-top: 90px;
    }
  .contendor-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    gap: 60px;
  }

  .contenedor-reviewtext {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .SliderReviews {
    width: 100%;
  }

  .card-review {
    display: flex;
    align-items: center;
  }
  .card-review .img-review {

    height: 100%;
    object-fit: cover;
  }
  .contenedor-textos-review{
    padding: 0rem 5rem;
  }
.nonefec{display:none ;}
  @media screen and (max-width: 760px) {
    .nonefec{display:block ;}
  .reviews-nanto{
        background: none;

        margin-top: 90px;
    }
    .contendor-reviews {
      flex-direction: column;
      width: 100%;
      padding: 4rem 1rem ;
  }
  .contenedor-reviewtext{
    width: 100%;
    max-width: 100%;
    padding: 4rem 2rem ;
  }
  .card-review{
    display: flex;
    flex-direction: column;
    border-radius:20px ;
    background: white;
  }

  .img-review{
    width: 100%;
height: 350px !important; 
object-fit: cover !important;
border-radius:20px 20px 0 0 ;
}
.contenedor-textos-review{
  padding: 4rem 2rem;
}

  }

</style>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".SliderReviews", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 1,
      freeMode: true,
      watchSlidesProgress: true,
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 1,
          spaceBetween: 40,
        },
        1524: {
          slidesPerView: 1,
          spaceBetween: 40,
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
 
  </script>
<style>

{% schema %}
{
  "name": "reviews-nanto",
  "class": "reviews-nanto",
  "settings": [
    {
      "type": "header",
      "content": "Información"
    },
    {
      "type": "text",
      "id": "titulo",
      "label": "titulo",
      "default": "Lo que se dice de Nanto"
    },
    {
      "type": "text",
      "id": "descripcion",
      "label": "descripcion",
      "default": "Descubre los testimonios de clientes que confían en Nanto para el cuidado de las superficies de su hogar."
    },
    {
      "type": "header",
      "content": "Botón"
    },
    {
      "type": "url",
      "id": "Url",
      "label": "Url"
    },
    {
      "type": "text",
      "id": "TituloBtn",
      "label": "TituloBtn",
      "default": "ARMA TU PAQUETE"
    },
    {
      "type": "color",
      "id": "BtnBackColor",
      "label": "Color de Fondo",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "ColorText",
      "label": "Color Text",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Reviews",
      "settings": [
        {
          "type": "image_picker",
          "id": "Img",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "nombre",
          "label": "titulo",
          "default": "Karla PAULINA"
        },
        {
          "type": "text",
          "id": "fecha",
          "label": "fecha",
          "default": "24/05/2024"
        },
        {
          "type": "text",
          "id": "descripcion",
          "label": "descripcion",
          "default": "¡Mi sala ya no se ensucia! Está increíble. Definitivamente volvería a comprar porque veo una gran diferencia en el antes y el después. Además, es muy fácil de aplicar siguiendo las instrucciones."
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "reviews-nanto",
      "blocks": []
    }
  ]
}
{% endschema %}
